.NavigationBar {
    border: 1px solid rgb(60, 61, 64);
    padding: 0.5em;
    position: relative;
}

#title {
    float: left;
    padding-left: 10px;
    font-size: 28px;
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
    /*position: relative;*/
    /*left: 275px;*/
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px 20px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    color: salmon;
}